.card {
  padding: 8px 30px;
  // height: 130px;
  // margin: 8px 0;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  border-bottom: 1px dashed #dae1ea;
  position: relative;
  &:last-child {
    border-bottom: none;
  }
  & > a {
    color: #333;
  }
  .repo-pic {
    margin-right: 15px;
    height: 100%;
  }
  .repo-header {
    display: flex;
    align-items: center;
    .repo-type {
      color: rgb(183, 30, 215);
      margin-right: 2px;
    }
    .repo-title {
      font-size: 18px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      cursor: pointer;
      font-weight: 400;
    }
  }
  .repo-desc {
    // margin-right: 20px;
    // overflow: hidden;
    // flex: 1;
    color: #666;
  }
  .repo-meta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #999;
    .info-block {
      margin: 0 8px;
      font-size: 12px;
      margin: 0;
      span {
        margin-left: 4px;
      }
    }
  }
  .actions {
    position: absolute;
    top: 4px;
    right: 24px;
    a {
      font-size: 12px;
      margin: 0 8px;
    }
  }
}
