.card {
  padding: 0px 30px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  position: relative;
  &:hover {
    background-color: #fafafa;
  }

  &:last-child {
    border-bottom: none;
  }

  > a {
    border-bottom: 1px solid #dae1ea;
    padding: 8px 0px;
  }

  .description {
    padding: 12px 0;
    > p {
      color: var(--text-second-color);
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
  }

  .repo-pic {
    margin-right: 15px;
    height: 100%;
  }

  .repo-header {
    // margin-bottom: 8px;
    display: flex;
    align-items: center;

    .repo-type {
      color: rgb(183, 30, 215);
      margin-right: 2px;
    }

    .repo-title {
      font-size: 20px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      cursor: pointer;
      font-weight: 400;
      color: var(--text-color);

      &:hover {
        color: #1890ff;
      }
    }
  }

  .repo-desc {
    margin-right: 20px;
    overflow: hidden;
    flex: 1;
  }

  .repo-meta {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .info-block {
      margin: 0 8px;
      font-size: 12px;
      margin: 0;
      color: var(--text-third-color);

      span {
        margin-left: 4px;
      }
    }
  }

  .actions {
    position: absolute;
    top: 4px;
    right: 24px;

    a {
      font-size: 12px;
      margin: 0 8px;
    }
  }
}
