.latest-article {
  background-color: var(--block-color);
  padding: 8px 12px;

  &-header {
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 4px;
  }

  &-list {
    padding: 4px 0;
    display: flex;
    flex-direction: column;
  }
}

.article {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 8px;
  @include font-size-default(14);
}
