$linkColor: #3a99d8;

.detail_container {
  flex: 1;
  width: var(--detail_width);
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}

.post_container {
  flex: 1;
  display: flex;
  justify-content: center;
  overflow: auto;
}

.post {
  // width: 760px;
  // margin-top: 20px;
  position: relative;
  // flex: 1 0 auto;
  width: 100%;

  &_content {
    background: #ffffff;
    padding: 24px;
  }

  &_header {
    // border-bottom: 1px solid #e7e7e7;
    padding: 20px 0;

    .name {
      font-size: 24px;
      display: block;
      font-weight: 600;
      margin: 0 0 5px;
    }

    .base-info {
      display: flex;
      justify-content: space-between;

      .item {
        font-size: 12px;
      }
    }
  }

  &_body {
    padding: 30px 20px;

    .desc {
      border-left: 8px solid #dddfe4;
      background: #eef0f4;
      margin: 0 0 24px;
      padding: 16px;
      overflow: auto;
    }
  }
  .operations {
    position: fixed;
    top: 200px;
    left: calc((100vw - 1000px) / 2 - 48px);
    &_list {
      background-color: #ffffff;
    }
    &_item {
      display: block;
      padding: 12px;
      height: 1;
      cursor: pointer;

      > svg {
        width: 20px;
        height: 20px;
      }
      > span {
        display: block;
        text-align: center;
        line-height: 1;
      }
    }
    &_item_active {
      color: #ff7474;
      border-color: #ff7474;
    }
  }
}

.sidebar {
  width: 220px;
  margin-left: 20px;
}

.sidebar_block {
  background-color: #ffffff;
  .block_title {
    padding: 12px;
  }
  .divider {
    margin: 0;
  }
}

.author_block {
  padding: 12px;
  .user_info {
    display: flex;
    .username {
      padding: 0 16px;
    }
  }
}
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
}
.comments {
  margin-top: 16px;
}
