.layout {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  position: relative;
  flex-direction: column !important;
  &-content {
    flex: 1;
    margin-bottom: 64px;
    background-color: #f0f2f5;
    overflow: hidden;
  }
  :global {
    .ant-layout-header {
      background-color: #ffffff;
    }
    .ant-layout-content {
      min-height: calc(100vh - 133px);
      flex: none;
    }
    .ant-layout-footer {
      background-color: #000000;
      padding-left: 120px;
      padding-right: 120px;
    }
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    max-width: 1100px;
    margin: auto;
    &_left {
      display: flex;
    }
    &_right {
      display: flex;
      align-items: center;
      > a {
        margin-right: 16px;
      }
      .avatar {
        border: 1px solid #e8e8e8;
      }
    }
    .logo-container {
      display: flex;
      align-items: center;
      height: 100%;
      img {
        width: 28px;
      }
    }
    .header-logo {
      font-size: 22px;
      font-weight: 900;
    }
    .flow {
      background: linear-gradient(to right, green, black);
      background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: hue 3s linear infinite;
    }
    @keyframes hue {
      0% {
        filter: hue-rotate(0deg);
      }
      100% {
        filter: hue-rotate(360deg);
      }
    }
    .search {
      margin: 0 20px;
      width: 300px;
    }
  }

  .footer {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    background-color: #000000;
    color: #ffffff;
    max-width: 1100px;
    margin: 0 auto;
    .item {
      flex: 1;
      max-width: 50%;
      color: inherit;
      h2 {
        color: inherit;
        margin-bottom: 16px;
      }
      a {
        margin: 0;
      }
    }
    a {
      color: inherit;
      margin: 0 12px;
      display: inline-block;
    }
    .metaInfo {
      .about {
        color: inherit;
        :global {
          .ant-divider {
            color: inherit !important;
            background-color: currentColor !important;
          }
        }
        a {
          margin: 0;
        }
      }
    }
    .beian {
      margin-top: 8px;
      a {
        margin: 0;
      }
    }

    &_contact {
      cursor: pointer;
    }
  }
}
