.comment_wrap {
  background-color: #ffffff;
  .comment_review {
    padding: 20px;
    border-bottom: 1px solid #e8e8e8;
    .container {
      display: flex;
      justify-items: center;
    }
    .userImage {
      width: 32px;
      height: 32px;
      > img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
      .tmp {
        border: 1px solid currentColor;
        border-radius: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #e8e8e8;
      }
    }
    .md {
      margin-left: 42px;
      color: #999;
    }
    .notice {
      display: none;
    }
    &:focus-within {
      .notice {
        display: block;
      }
    }
  }
  .replay {
    flex: 1;
    margin: 0 10px;
    position: relative;
    .place {
      visibility: hidden;
      overflow: hidden;
      padding: 5px 10px;
      min-height: 32px;
      border: 1px solid #000000;
      line-height: 20px;
      .line {
        height: 20px;
        word-break: break-word;
        white-space: normal;
      }
    }
    .editor {
      // position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 10;
      width: 100%;
      padding: 5px 10px;
      border: 1px solid #e8e8e8;
      border-radius: 3px;
      overflow: hidden;
      word-break: break-all;
      overflow-wrap: break-word;
      outline: none;
      resize: none;
      &:hover {
        border-color: rgba(47, 160, 255, 0.4);
      }
    }
  }
  .comment_list {
    padding: 20px;
    .replyContainer {
      padding-top: 20px;
      padding-left: 20px;
      margin-left: 12px;
      border-left: 3px solid #f3f3f3;
      .comment-container {
        border: none;
      }
    }
  }
  .comment_item {
    margin-bottom: 20px;
    .userDetail {
      display: flex;
      align-items: center;
      .userInfo {
        display: flex;
        align-items: center;
        margin-right: 8px;
        .userAvatar {
          width: 32px;
          height: 32px;
          margin-right: 8px;
          img {
            height: 100%;
            width: 100%;
            border-radius: 50%;
          }
        }
        .userName {
        }
      }
    }
    .hunter {
      border-radius: 4px;
    }
    .comment-container {
      margin-top: 10px;
      margin-left: 12px;
      padding-left: 24px;
      border-left: 3px solid #f3f3f3;
      .from-container {
        display: flex;
        flex-direction: column;
        .text {
          margin-bottom: 8px;
        }
      }
      .metaInfo {
        display: flex;
        justify-content: flex-start;
        .optionItem {
          display: block;
          margin-right: 8px;
          cursor: pointer;
          background-color: transparent;
        }
      }
    }
  }
}
.comment_title {
  padding: 12px 24px;
  border-bottom: 1px solid #e8e8e8;
}
.comment_prograph:not(:last-child) {
  margin-bottom: 12px;
  word-break: break-word;
  white-space: normal;
}
