$linkColor: #3a99d8;

.blog {
  min-height: 100%;
  width: var(--main_width);
  margin: 24px auto 0;
  display: flex;
  &-content {
    flex: 1;
    width: calc(100% - 20rem);
  }

  &-sidebar {
    width: 20rem;
    margin-left: 24px;
  }
}
