:root {
    --main_width:  1100px;
    --main_color: #404040;

    --detail_width: 968px;
    /* // color */
    --text-color: #333;
    --text-second-color: #666;
    --text-third-color: #999;
    --border-color: #e8e8e8e8;
    --block-color: #fff;
    /* // bg color */
    --body-bg-color: f3f3f3;

    /* // border */
    --radius: 4px;

    @media screen and (max-width: 768px) {
        --main_width: 100%;
    }
}

