.item_base {
  padding: 12px;
  border-bottom: 1px solid #f0f0f0;
}

.siteInfo {
  margin-top: 24px;
  background-color: #fafafa;
  .title {
    @extend .item_base;
    color: #777;
  }
  .item {
    @extend .item_base;
    background-color: #ffffff;
    a {
      color: inherit;
      img {
        margin-right: 8px;
      }
    }
  }
}
